
@media (max-width: 770px) {
    .entrance-new {
        .card {
            max-width: 80% !important;
        }

        .card-consultations {
            display: none !important;
        }
    }

    .header-inner {
        justify-content: center;
        // height: 1000000px;
    }
}


@media (max-width: 1770px) {
    .header-inner {
        max-width: 1550px !important;
    }

    .header-wrapper {
        // max-width: 1550px !important;
        margin: 0 auto;
    }
}

@media (max-width: 1660px) {
    .header-inner {
        max-width: 1460px !important;
    }

    .header-wrapper {
        // max-width: 1460px !important;
        margin: 0 auto;
    }
}

@media (max-width: 1500px) {
    .header-inner {
        max-width: 1370px !important;
    }

    .header-wrapper {
        // max-width: 1370px !important;
        margin: 0 auto;
    }

    .contact-form {
        left: 20%;
    }

    .feature {
        .graph-img {
            bottom: -30px !important;
            right: 261px !important;
            max-width: 40% !important;
        }

        .logo-img {
            right: 240px !important;
        }

        .racket-img {
            right: 110px !important;
        }
    }
}

@media (max-width: 1395px) {
    .header-inner {
        max-width: 1270px !important;
    }

    .header-wrapper {
        // max-width: 1270px !important;
        margin: 0 auto;
    }

    .scholarship  {
        .team-title {
            width: 680px !important;
        }
    }
}

@media (max-width: 1345px) {
    .header-inner {
        max-width: 1270px !important;
    }

    .header-wrapper {
        // max-width: 1270px !important;
        margin: 0 auto;
    }

    .feature {
        .graph-img {
            max-width: 50% !important;
            bottom: -30px !important;
            right: 60px !important;
        }
    }
}

@media (max-width: 1336px) {
    .feature {
        .main-graphs {
            flex-direction: column !important;
        }
    }

    .scholarship  {
        .main-content {
            flex-direction: column;
            align-items: center;

            .team {
                padding-top: 0 !important;
                .btn-block {
                    margin-top: 15px !important;
                }
            }
            .team-title {
                width: 800px !important;
                img {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 1280px) {
    nav {
        justify-content: space-around !important;

        .nav-items {
            padding: 0 4px;
        }
    }

    .feature {
        .cards {
            overflow-x: scroll;
            width: auto;
            white-space: nowrap;
        }
        
        img {
            padding-bottom: 10px;
            margin-right: 10px;
        }

        .structure-main {
            flex-direction: column;
            align-items: center;

            img {
                margin-right: 0 !important;
            }

            .racket-img {
                max-width: 10% !important;
                top: 230px !important;
                right: 670px !important;
            }

            .graph-img {
                max-width: 50% !important; 
                bottom: -220px !important;
                right: 320px !important;
            }

            .logo-img {
                bottom: -150px !important;
            }
        }

        .graphs-block {
            padding-top: 250px !important;
        }
    }

    .service {
        .cards {
            overflow-x: scroll;
            width: auto;

        }

        .item-card {
            .card {
                min-height: 600px;
                margin-right: 12px;
                min-width: 350px;
        }
    }

        .info {
            p::before {
                left: -16% !important;
            }
        }
    }

    .entrance-new {
        .cards {
            justify-content: space-around !important;
        }

        .card {
            max-width: 40% !important;

            .down-info {
                padding: 7px 6px 5px 6px !important;
            }
        }

        .card-consultations {
            max-width: 40%;
        }
    }



    .about-us {
        .content {
            flex-direction: column;
            align-items: center;
        }

        p {
            font-size: 13px;
        }

        img {
            max-width: 50%;
            padding-top: 40px;
        }
    }

    .team-project {
        .content {
            justify-content: space-around !important;
        }
    }

    .join-univ {
        .content {
            grid-template-columns: 300px 300px 300px !important;
        }
    }

    .skills {
        flex-direction: column;

        .item {
            background-position: center !important;

            padding-top: 40px;
        }
    }

    .scholarship {
        .content {
            flex-direction: column !important;

            .team {
                padding-top: 80px;
            }
        }
    }
}

@media (max-width: 1264px) {
    .entrance {
        .img-flag {
            display: none !important;
        }
    }
}

@media (max-width: 1131px) {
    .header-wrapper {
        nav {
            a {
                font-size: 13px;
            }
        }

        .logo {
            margin-left: 0 !important;
        }
    }

    .join-univ {
        .content {
            grid-template-columns: 250px 250px 250px !important;
        }
    }

    header {
        .contact-btn {
            margin-right: 0 !important;
        }
    }

}

@media (max-width: 980px) {
    .feature {
        .info-card {
            width: 450px !important;
        }
    }

    .team-project {
        .content {
            overflow-x: scroll;
            width: auto;

            .item {
                margin-right: 10px !important;
            }

            justify-content: inherit !important;
        }
    }

    .contact-form-block {
        width: 75% !important;
    }

    header {
        .contact-btn {
            padding: 12px 5px !important;
        }
    }

    .scholarship {
        .subtitle-block {
            width: 450px !important;
        }
    }
}

@media (max-width: 975px) {
    .contact-form {
        input {
            width: 250px !important;
        }
    }
}

@media (max-width: 900px) {
    header {
        a {
            font-size: 12px !important;
        }
    }
}

@media (max-width: 845px) {

    .contact-form {
        h2 {
            font-size: 50px !important;
        }

        .info-form {
            width: 85% !important;
        }
    }
}


@media (max-width: 770px) {

    .header-inner {
        height: 100vh !important;
    }

    .feature{
        .structure-main {
            .racket-img {
                max-width: 25% !important;
                top: 180px !important;
                right: 427px !important;
            }
        }
    }

    .mini-title-block {
        .line {
            margin-left: -20px;
        }

        .mini-title {
            padding-left: 10px !important;
        }
    }

    .join-univ {
        .item-collection {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .feature {
        .feature-info {
            flex-direction: column;

            .info-card {
                margin-top: 10px !important;
            }
        }

        .structure-main{
            align-items: inherit;

            h4 {
                padding: 10px 0;
            }

            .graph-img {
                max-width: 100% !important;
                bottom: -260px !important;
                right: 0 !important;
            }

            .logo-img {
                bottom: -200px !important;
                right: 30px !important;
            }

            .sub-title-block {
                width: 465px !important;
                padding-top: 5px !important;
            }

            .structure-img {
                display: flex;
                align-items: inherit;
                flex-direction: column-reverse;
                flex-wrap: wrap;

                .mini-title {
                    margin: 0 auto !important;
                    max-width: 550px !important;
                    text-align: center;
                    padding-bottom: 10px;
                    font-size: 20px !important;
                    line-height: 25px !important;
                }
            }

            .info-structure {
                padding: 10px 0 !important;
            }
        } 
    }

    .mainSection  {
        h2 {
            font-size: 25px !important;
        }

        &.entrance-new {
            .card {
                max-width: 100% !important;
            }
    
            .card-consultations {
                display: none !important;
            }
        }
    }

    .header-inner {
        justify-content: center !important;
        text-align: center;
        background: no-repeat url("img/bgphone.jpg") !important;

        .card-info {
            border-radius: 30px;
            padding: 15px;

            .content {
                padding-left: 0 !important;
                padding-right: 0 !important;
                
                .default-title {
                    margin: 0 auto;
                }
            }
        }
    }

    .about-us {
        img {
            max-width: inherit;
        }
    }

    .feature {
        img {
            max-width: 100%;
        }
    }

    .join-univ {
        .content {
            grid-template-columns: 390px 290px !important;
            h3 {
                font-size: 14px !important;
            }

            .__one {
                grid-row-start: 1 !important;
                grid-row-end: 2 !important;
                grid-column-start: 2 !important;
                grid-column-end: 3 !important;
            }

            .__three {
                background: no-repeat url(img/five_phone.jpg) !important;
                grid-row-start: 2;
                grid-column-start: 1;
                grid-column-end: 3;
                max-width: inherit !important;

                .title {
                    border-radius: 0;
                    max-width: inherit;
                    width: 100%;

                    h3 {
                        max-width: inherit;
                    }
                }
            }
        }
    }

    header {
        position: fixed !important;
        width: 100% !important;
        padding-bottom: 15px;

        nav {
            justify-content: space-between !important;
            .nav-items, .contact-btn{
                display: none;
            }

            .logo {
                margin-left: 30px !important;
            }
        }
    }

    body {
        .tab-bar {
            display: block !important;
        }
        
        .burger {
            display: block !important;
        }

        .tab-burger-menu {
            display: block !important;
        }
    }

    .team-project {
        .content {
            overflow-x: scroll;
            width: auto;

            justify-content: inherit !important;
        }
    }

    footer {
        .nav-items, button {
            display: none;
        }
    }

    .scholarship  {
        .main-content {
            .team-title {
                width: 670px !important;

                h3 {
                    font-size: 16px !important;
                }
            }
        }
        .under-blocks {
            .subtitle-block {
                width: 362px !important;
                p {
                    font-size: 17px !important;
                }
                .mini-subtitle {
                    max-width: 240px !important;
                    margin: 0 auto !important;
                }
                // -----------------------------

                .row-titles {
                    flex-direction: column;
                    align-items: center;

                    .second-block {
                        width: 362px !important;
                    }

                    .subsub-title-block {
                        &.first_title {
                            border-radius: 0 !important;
                            padding: 0 !important;
                            box-shadow: 0px -1px 4px rgb(0 0 0 / 25%) !important;
                        }

                        &.second_title {
                            transform: translateY(-5px) !important;
                            padding: 0 !important;
                            width: 280px !important;
                            margin-top: 0 !important;
                        }
                    }
                }
            }
        }
    }


}

@media (max-width: 700px){

    .contact-form {

        .info-form {
            width: 90% !important;
    
            p {
                font-size: 12px !important;
            }
        }
    }


    .join-univ {
        .content {
            grid-template-columns: 290px 290px !important;
        }
    }

    .entrance {
        .img-row {
            display: none !important;
        }
    }

    .about-us {
        img {
            width: 100% !important;
        }
    }

    .header-inner {
        h1 {
            font-size: 40px !important;
        }

        .content {
            width: 500px;
        }
    }
    
}

@media (max-width: 665px) {
    .feature {
        .graph-block {
            width: 500px !important;
            flex-direction: column !important;
            align-items: center !important;

            .second-block {
                width: 280px !important;
            }

            .tenis-img {
                width: 150px !important;
                top: 100px !important;
            }
        }
    }


    .scholarship .main-content .team-title {
        width: 600px !important;

        h3 {
            padding: 30px 15px !important;
        }
    }

    .scholarship .under-blocks .subtitle-block {
        width: 322px !important;
    }

    .scholarship .under-blocks .subtitle-block .row-titles .second-block {
        width: 312px !important;
    }
}

@media (max-width: 630px) {

    .contact-form {
        .info-form {
            width: 95% !important;
    
        }
    }

    .scholarship .main-content .team-title {
        width: 520px !important;

        h3 {
            padding: 30px 5px !important;
            font-size: 15px !important;
        }
    }
}

@media (max-width: 595px) {

    .contact-form {
        h2 {
            font-size: 40px !important;
        }

        .info-form {
            width: 95% !important;
    
        }
    }
}

@media (max-width: 580px){
    .join-univ {
        .content {
            grid-template-columns: 240px 240px !important;
        }
    }

    .mainSection {
        padding: 0 10px !important;
    }

    .scholarship {
        .tennis {

            flex-direction: column;
            align-items: center;
            justify-content: center;

            img {
                padding-right: 0 !important;
            }
        }
    }
    .scholarship .under-blocks .subtitle-block {
        width: 264px !important;
        p {
            font-size: 12px !important;
        }
    }

    .scholarship .under-blocks .subtitle-block .mini-subtitle {
        max-width: 220px !important;
    }

    .scholarship .under-blocks .subtitle-block .row-titles .second-block {
        width: 264px !important;

        p {
            font-size: 12px !important;
        }
    }

    .header-inner {
        h1 {
            max-width: 250px !important;
            font-size: 25px !important;
            margin: 0 auto !important;
        }
    }
}

@media (max-width: 568px) {
    .scholarship .under-blocks .subtitle-block {
        width: 260px !important;
    }

    .scholarship .under-blocks .subtitle-block .row-titles .second-block {
        width: 260px !important;
    }

    .scholarship .under-blocks .subtitle-block .row-titles .subsub-title-block.second_title {
        width: 260px !important;
    }
}

@media (max-width: 565px) {
    .contact-form-block {
        width: 90% !important;
        
    }
}

@media (max-width: 520px){

    .header-inner {
        .content {
            width: 400px !important;
            
        }

    }

    .scholarship .under-blocks .subtitle-block {
        width: 230px !important;
    }

    .scholarship .under-blocks .subtitle-block .row-titles .second-block {
        width: 230px !important;
    }

    .scholarship .under-blocks .subtitle-block .row-titles .subsub-title-block.second_title {
        width: 230px !important;
    }

    .scholarship .under-blocks .subtitle-block {
        width: 220px !important;
    }

    .scholarship .under-blocks .subtitle-block .row-titles .second-block {
        width: 220px !important;
    }

    .scholarship .under-blocks .subtitle-block .row-titles .subsub-title-block.second_title {
        width: 220px !important;
    }

    .scholarship .main-content .team-title {
        width: 100% !important;
    }
}

@media (max-width: 495px) {
    .feature .graph-block {
        width: 400px !important;
    }

    .feature .graph-block .tenis-img {
        width: 100px !important;
    }
}

@media (max-width: 485px) {
    .feature .structure-block .main-graphs .graph-block {
        width: 450px !important;
    }

    .feature .graph-block .tenis-img {
        width: 100px !important;
    }
}

@media (max-width: 485px){
    .join-univ {
        .content {
            grid-template-columns: 210px 210px !important;
        }
    }

    .contact-form {
        h2 {
            font-size: 30px !important;
        }

        input {
            width: 220px !important;

            &::placeholder {
                font-size: 12px !important;
            }
        }
    }

    .feature {
        .structure-main {
            .sub-title-block {
                width: 425px !important;
            }
        }
    }
}

@media (max-width: 460px){
    .join-univ {
        .content {
            grid-template-columns: 190px 190px !important;
        }
    }

    .about-us {
        .info {
            max-height: inherit !important;
        }
    }

    .contact-form {

        input {
            width: 190px !important;

            &::placeholder {
                font-size: 10px !important;
            }
        }
    }

    .feature .structure-block .main-graphs .graph-block {
        width: 380px !important;
    }

    .feature .structure-block .main-graphs .graph-block .tenis-img {
        width: 80px !important;
    }
}

@media (max-width: 450px){
    .header-inner {
        .content {
            width: 390px !important;

            h1 {
                font-size: 30px !important;
            }

            .typing-title {
                font-size: 20px !important;
            }

            .default-title {
                font-size: 18px;
                padding: 0 10px !important;
            }
        }
    }

    .feature .info-card {
        width: 390px !important;
    }

    .scholarship .under-blocks .subtitle-block {
        width: 180px !important;
    }

    .scholarship .under-blocks .subtitle-block .row-titles .subsub-title-block.second_title {
        width: 180px !important;
    }

    .scholarship .under-blocks .subtitle-block .row-titles .second-block {
        width: 180px !important;
    }
}

@media (max-width: 440px){
    .join-univ {
        .content {
            grid-template-columns: 160px 160px !important;
        }
    }

    .about-us {
        .content {
            text-align: center;
        }
    }

    .feature .structure-main .sub-title-block {
        width: 355px !important;
    }

    .feature .structure-block .main-graphs .graph-block .line {
        display: inline-flex;
        flex-direction: column;
    }

    .header-inner {
        .typing-title {
            padding: 5px 0 !important;
        }
    }

    .header-inner .card-info .contact-btn {
        margin: 30px 0 0 0 !important;
    }

    .header-inner .content .default-title {
        font-size: 15px !important;
    }

    .header-inner .card-info h1 {
        font-size: 25px !important;
        padding-top: 15px !important;
    }
}

@media (max-width: 420px) {
    .header-inner .card-info .content .default-title {
        padding: 0 !important;
    }

    .header-inner .content {
        width: 350px !important;
    }
}

@media (max-width: 400px){
    .contact-form {
        input {
            width: 150px !important;
            padding: 5px 0 5px 10px !important;

            &::placeholder {
                font-size: 10px !important;
            }
        }
    }

    .feature {
        .info-card {
            width: 340px !important;
            p {
                font-size: 12px !important;
            }
        }
    }

    .header-inner .content {
        width: 310px !important;
    }

    .scholarship .under-blocks .subtitle-block {
        width: 150px !important;
    }

    .scholarship .under-blocks .subtitle-block .row-titles .second-block {
        width: 150px !important;
    }

    .scholarship .under-blocks .subtitle-block .row-titles .subsub-title-block.second_title {
        width: 150px !important;
    }

    .feature .structure-block .main-graphs .graph-block {
        width: 320px !important;
    }

    .feature .structure-main .sub-title-block {
        width: 275px !important;
    }
}

@media (max-width: 360px){
    .header-inner {
        .content {
            width: 300px !important;
        }
    }

    .join-univ {
        .content {
            grid-template-columns: 150px 150px !important;
        }
    }

    .entrance-new {
        padding: 0 10px 0 10px !important;

        .dates {
            font-size: 12px !important;
        }

        .info-dates {
            font-size: 12px !important;
        }
    }

    .contact-form {
        .info-form {
            width: 100% !important;

            p {
                font-size: 10px !important;
            }
        }

        input {
            width: 150px !important;
            padding: 5px 0 5px 10px !important;

            &::placeholder {
                font-size: 10px !important;
            }
        }
    }
}

@media (max-width: 340px) {
    .feature .info-card {
        width: 300px !important;
    }

    .header-inner .content {
        width: 280px !important;
    }

    .feature .structure-block .main-graphs .graph-block .line {
        max-width: 120px !important;
    }
}
