@import "null.scss";
@import "media.scss";
@import "animation.scss";

// == FONTS == //

$mainFont: 'Playfair Display', serif;
$subFont: 'Caveat', cursive;
$logoTitle: 'Montserrat', sans-serif;

// == COLORS == //

$background: #FFF;
$blue: #053651;
$red: #CA0000;
$black: #000;
$white: #fff;
$orange: #FF9900;
$green: #5C8809;
$grey: #B1BEC6;

// == MIXINS == //

@mixin headerTitle {
    font: {
        size: 40px;
        family: $logoTitle;
        weight: 600;
    }
}

@mixin highTitle {
    font: {
        family: $logoTitle;
        size: 40px;
        weight: 600;
    }
}

@mixin infoMain {
    font: {
        family: $logoTitle;
        size: 20px;
        weight: 400;
    }   
}

@mixin infoTitle {
    font: {
        family: $logoTitle;
        size: 15px;
        weight: 400;
    }
}

@mixin miniTitle {
    font: {
        family: $logoTitle;
        size: 30px;
        weight: 600;
    }
}

// == WIDTH == //

$mainWidth: 1390px;

// == STYLES == //

$spaceBetween: space-between;

// ===========================================================

// == HEADER == //

body {
    position: relative;

    .tab-burger-menu {
        overflow: hidden;
        position: fixed;

        width: 100%;
        height: 1vh;

        &.handleActive {
            background: rgba(0, 0, 0, .8);
        }

        .item-burger-tab {
            position: relative;
            width: 100%;
            height: 100vh;

            .tab-bar {
                position: fixed;
                height: 100vh;
                top: 0;
                width: 60%;
                background: rgba(5, 54, 81, .6);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                backdrop-filter: blur(3px);
                transform: translateX(200%) !important;
                transition: transform .2s linear;
        
                &.handleActive {
                    transform: translateX(70%) !important;
                }
        
                .menu-items {
                    margin-top: 120px;
                }
            
                .item-burger {
                    margin-top: 20px !important;
                    position: relative;
                    width: 100%;
            
                    &.line-off {
                        &::before {
                            height: 0 !important;
                            width: 0 !important;
                        }
                    }
            
                    &.active {
                        a {
                            font-weight: 700;
                            font-size: 20px !important;
                        }
                    }
            
                    &::before {
                        content: "";
                        position: absolute;
                        width: 70%;
                        height: 1px;
                        top: -10px;
                        left: 15%;
            
                        background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%, rgba(9,9,121,1) 255%, rgb(255, 255, 255) 255%);
                    }
                }
            
                a {
                    color: $white;
                    font-size: 15px !important;
            
                    font: {
                        family: $logoTitle;
                        weight: 400;
                    }
                }
            }
        }
    }
}

.background-black {
    display: none;
    z-index: 2;

    &.handleActive {
        display: block;
        width: 100%;
        height: 100vh;
        position: fixed;
        left: 0;
        background: rgba(0, 0, 0, .8);
    }
}

body {
    .burger {
        margin-right: 30px;
        z-index: 4;
        position: fixed;
        right: 10px;
        top: 30px;    

        &.handleActive {
            .line-burger {
                transition: all .2s linear;
                &.up {
                    transform: translate(0, 9px) rotate(45deg);
                    background: $white;
                }

                &.middle {
                    width: 0;
                    opacity: 1;
                }

                &.down {
                    transform: translate(0, -12px) rotate(-45deg);
                    background: $white;
                }
            }
        }

        .burger-menu {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 25px;
            width: 40px;
    
            span {
                width: auto;
                height: 4px;
                background-color: $black;
                transition: transform .2s linear;

                border-radius: 7px;
            }
        }
    }
}

header {
    overflow: hidden !important;
    position: fixed;
    width: 100%;
    z-index: 1;

    .logo {
        margin-left: 30px;
    }

    .contact-btn {
        margin-right: 30px;
    }

}



body {
    background-color: $background;
}

.mainSection {
    max-width: $mainWidth;
    margin: 0 auto;
    padding: 0 20px 0 20px;
    padding-top: 70px;

    .high-title-block {
        padding-bottom: 45px;
        padding-top: 40px;

        text-align: center;

        h2 {
            @include highTitle;

            span {
                color: $red
            }
        }
    }
}

.contact-btn {
    background-color: $blue;
    color: $white;
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    font: {
        size: 15px;
        family: $logoTitle;
        weight: 500;
    }

    &:hover {
        background-color: darken($blue, 1);
    }
}

.tab-burger-menu {
    z-index: 3;
    .item-burger {

        .active {
            font: {
                weight: 700;
            }
            &::before {
                width: 0;
                height: 0;
            }
        }
    }
}

.active {
    font: {
        weight: 700;
    }
    color: $blue;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: $blue;
        bottom: 0;
        transform: translate(0, 10px);
    }
}

// == HEADER CONTENT == //

.line-cross {
    height: 2px;
    width: 100px;
    transform: translate(0, 5px);
    transition: .5s ease-in-out all;
    background-color: $red;
}


.header-wrapper {

    a {
        color: $black;

        font: {
            family: $logoTitle;
            weight: 400;
            size: 15px;
        }
    }

    nav {
        padding-top: 10px;
        padding-bottom: 10px;
        max-width: 1670px;    
        margin: 0 auto;
        background-color: $white;
        
        display: flex;
        align-items: center;
        justify-content: $spaceBetween;

        .logo {
            display: flex;
            align-items: flex-end;

            .logoTitle {
                font: {
                    family: $logoTitle;
                    size: 20px;
                    weight: 500;
                }
                line-height: 20px;
                padding-left: 12px;

                max-width: 65px;

                span {
                    color: $red;
                }
            }
        }

        .nav-items {
            
            ul {
                display: flex;
                li {
                    padding: 0 7px;
                }
            }
        }
    }
}

// == MAIN == //

.mini-title-block {
    display: flex;
    align-items: center;
    padding-bottom: 30px;

    .mini-title {
        @include miniTitle();
        padding-left: 60px;
    }

    .line {
        width: 119px;
        height: 10px;
        background: $blue;
    }
}

main {
    padding-top: 30px;
}

.header-inner {
    height: 80vh;
    max-width: 1670px;
    margin: 0 auto;
    display: flex;
    align-items: center;

    background: no-repeat url("img/BG.jpg");

    .card-info {
        max-width: 840px;
        max-height: 410px;
        background-color: $white;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;

        .content {
            padding-left: 60px;
            padding-right: 80px;
        }

        h1 {
            padding-top: 45px;
            @include headerTitle;

            span {
                color: $red;
            }
        }

        .typing-title {
            font: {
                size: 25px;
                weight: 400;
                family: $subFont;
            }
            color: $blue;

            padding: 20px 0 15px 0;
        }

        .default-title {
            max-width: 600px;
        }

        .contact-btn {
            margin: 30px 0 60px 0;
        }
    }
}

// == JOIN UNIV == //

.join-univ {

    .content {
        display: grid;
        justify-content: center;
        grid-template-columns: 450px 450px 450px;

        .item-content {
            height: 320px;
            max-width: 454px;
        }

        .title {
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            max-width: 410px;
            margin: 0 auto;
            background-color: $white;
            text-align: center;

            padding: 12px 5px;

            h3 {
                margin: 0 auto;
                @include infoMain;
                max-width: 340px;
                span {
                    color: $red;
                }
            }
        }
    }
}

// == FEATURE == //

.feature {
    .high-title-block {
        p {
            font: {
                family: $logoTitle;
                size: 15px;
                weight: 400;
            }
            max-width: 530px;
            margin: 0 auto;
        }
    }

    .feature-info {
        display: flex;
        justify-content: $spaceBetween;
        margin: 0 auto;
        align-items: center;
        max-width: 1000px;
        margin-bottom: 30px;

        .info-card {
            display: flex;
            align-items: center;
            max-width: 680px;
            width: 480px;
            border-radius: 30px;
            padding: 30px;
            box-shadow: 5px -3px 30px rgb(0 0 0 / 10%);

            p {
                text-align: center;
                @include infoTitle();
            }
        }
    }

    .cards {
        display: flex;
        justify-content: $spaceBetween;
    }

    .structure-block {
        padding-top: 75px;
        span {
            color: $blue;
        }
        position: relative;

        h3 {
            @include highTitle();
            font-size: 30px;
        }
        
        .structure-main {
            display: flex;
            flex-wrap: wrap;

            .mini-title {
                @include highTitle();
                font-size: 15px;
                padding-top: 0;
                line-height: 15px;
                max-width: 640px;
            }
        }

        .info-structure {
            display: flex;
            flex-direction: column;
            justify-content: $spaceBetween;
            padding-left: 35px;

            &.second {
                justify-content: inherit;
            }

            .sub-title-block {
                padding-left: 15px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                max-width: 465px;

                .sub-title {
                    padding-left: 11px;
                }

                .circle {
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background: $red;
                }

                .line {
                    width: 30px;
                    height: 2px;
                    background: $blue;
                }

                &.down-subtitle {
                    max-width: 320px
                }

                &.second-title {
                    padding-top: 15px;
                }
            }

            h4 {
                @include highTitle();
                font-size: 20px;
            }

            p {
                @include infoTitle();
            }
        }

        .absolute-img {
            position: absolute;
            right: 0;

            &.logo-img {
                bottom: 30px;
            }

            &.graph-img {
                bottom: -30px;
                right: 20px;
            }
        }

        // graphs

        .main-graphs {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .second-block {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                .numbers {
                    p {
                        margin-left: 26px !important;
                    }
                }

                .line {
                    .line-green {
                        width: 150px;
                    }
                }

                .blocks-graph {
                    margin-left: 0 !important;
                }

                .line {
                    transform: translateX(20px) !important;
                }

                .graph {
                    height: 40%;
                }

                .down-title {
                    p {
                        span {
                            color: $green !important;
                        }
                    }
                }
            }
            
            .graph-block {
                max-width: 630px;
                width: 640px;
                padding: 30px;
                max-width: 640px;
                border-radius: 0px 0px 30px 30px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                display: flex;
                flex-wrap: wrap;
                position: relative;

                .tenis-img {
                    position: absolute;
                    right: 30px;
                }

                .title {
                    h4 {
                        @include highTitle();
                        font-size: 20px;
                        max-width: 280px;
                    }
                }

                .sub-title {
                    p {
                        @include highTitle();
                        font-size: 10px;
                    }
                    padding-top: 25px;
                }

                .line {
                    transform: translateX(80px);
                    padding-top: 10px;
                }

                .down-title {
                    padding-top: 5px;
                    p {
                        @include infoTitle();
                        span {
                            color: $orange
                        }
                    }
                }

                .graph {
                    p {
                        @include highTitle();
                        font-size: 10px;
                    }
                    display: flex;
                    padding-top: 10px;

                    .heigt-nums {
                        display: flex;
                        justify-content: space-between;
                        flex-direction: column;
                    }

                    .blocks-graph {
                        display: flex;
                        align-items: flex-end;
                        max-width: 150px;
                        width: 150px;
                        justify-content: space-between;
                        margin-left: 60px;

                        .stat-block {
                            width: 22px;
                        }

                        .orange {
                            background: $orange;

                            &.first {
                                max-height: 45px;
                                height: 45px;
                            }

                            &.second {
                                max-height: 130px;
                                height: 130px;
                            }

                            &.third {
                                max-height: 240px;
                                height: 240px;
                            }

                            &.four {
                                max-height: 216px;
                                height: 216px;
                            }

                            &.five {
                                max-height: 76px;
                                height: 76px;
                            }
                        }

                        .green {
                            background: $green;

                            &.first {
                                max-height: 45px;
                                height: 45px;
                            }

                            &.second {
                               max-height: 79px;
                                height: 79px;
                            }

                            &.third {
                                max-height: 134px;
                                height: 134px;
                            }

                            &.four {
                                max-height: 144px;
                                height: 144px;
                            }

                            &.five {
                                max-height: 58px;
                                height: 58px;
                            }
                        }
                    }
                }
                .numbers {
                    display: flex;
                    max-width: 225px;
                    width: 225px;
                    padding-top: 10px;
                    p {
                        @include highTitle();
                        font-size: 10px;
                        color: $grey;
                        margin-left: 25px;
                    }
                    max-width: 150px;
                    width: 150px;
                    justify-content: space-between;
                }
            }
        }
    }    
}

// == SCHOLARSHIP == //

.scholarship {

    .sorts-grants {
        .main-title {
            h3 {
                @include highTitle();
                color: $white;
                font-size: 30px;
                padding: 23px 0;
            }
            background: $blue;
            width: 100%;
            border-radius: 30px 30px 0px 0px;
            text-align: center;
        }

        .under-blocks {
            display: flex;
            justify-content: space-between;
        }

        .subtitle-block {
            max-width: 650px;
            width: 650px;
            .subtitle {
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 0 0 30px 30px;
                padding: 13px 0;
                width: 100%;
                text-align: center;
                .high-title {
                    @include highTitle();
                    font-size: 25px;
                }

                p {
                    @include infoTitle();
                    font-size: 15px;
                }
            }

            .row-titles {
                display: flex;
                justify-content: space-around;

                .second-block {
                    max-width: 530px;
                    width: 530px;

                    p {
                        max-width: 600px;
                    }
                }
            }

            .subsub-title-block {
                max-width: 300px;
                text-align: center;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 0 0 30px 30px;
                padding: 13px 0;
                margin-top: 15px;
                max-height: 500px;
                height: 156px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .high-title {
                    color: $blue;
                    @include highTitle();
                    font-size: 20px;
                }
                p {
                    @include infoTitle();
                    max-width: 280px;
                    margin: 0 auto;
                    padding: 0 18px;
                    &.second-title {
                        max-width: 300px;
                    }
                }

                .high-block-info {
                    max-width: 530px;
                    width: 530px;
                    margin: 0 auto;
                }
            }
        }
    }

    .content {
        margin-top: 70px;
        h4 {
            @include highTitle();
            font-size: 30px;
        }

        .main-content {
            margin-top: 30px;
            display: flex;
            flex-wrap: wrap;
            justify-content: $spaceBetween;
        }

        .tennis {
            max-width: 660px;
            box-shadow: 5px -3px 30px rgb(0 0 0 / 10%);

            display: flex;
            align-items: center;

            .contact-btn {
                margin-top: 20px;
            }

            .title {
                text-align: center;

                :nth-child(1) {
                    max-width: 245px;

                    font: {
                        size: 15px;
                        weight: 400;
                        family: $logoTitle;
                    }
                }

                .know-title {
                    color: $blue;
                    font: {
                        size: 15px;
                        weight: 600;
                        family: $logoTitle;
                    }
                }

                span {
                    color: $red;
                }
            }
        }

        .team {
            max-width: 800px;
            display: flex;
            flex-direction: column;
            justify-content: $spaceBetween;
            align-items: center;
            .team-title {
                border: 5px solid $blue;
                border-radius: 30px;
                width: 800px;
                margin-top: 30px;
                position: relative;

                img {
                    position: absolute;
                    left: 40%;
                    top: -134px;
                }
            }
            h3 {
                color: $blue;
                @include infoMain;
                text-align: center;
                padding: 30px 45px;
            }

            .titles {
                display: flex;
                justify-content: space-between;
                padding-top: 60px;

                :nth-child(2) {
                    &::before {
                        transform: scaleX(-1);
                        position: absolute;
                        left: -30% !important;
                    }
                }

                .title-arrow {
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        top: -55px;
                        left: 30%;
                        width: 100px;
                        height: 100px;
                        background: no-repeat url("img/arrow.png");
                    }
                }
            }

            p {
                @include infoTitle;
            }

            .info-title {
                max-width: 440px;
                text-align: center;
                padding-top: 22px;
                span {
                    color: $red;
                }
            }
        }
    }
}

// == ENTRANCE == //

.entrance {
    .content {
        display: flex;
        align-items: center;
        justify-content: $spaceBetween;

        .info {
            .item {
                display: flex;
                align-items: center;
                padding-bottom: 20px;

                h3 {
                    max-width: 555px;
                    padding-left: 15px;
                }
            }
        }
    }
}

// == SERVICE == //

.service {
    .cards {
        display: flex;
        justify-content: $spaceBetween;

        .card {
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 10px 50px;
            min-height: 600px;

            .main-info {
                padding-top: 40px;
            }

            .contact-btn {
                margin-bottom: 30px;
            }

            .price-title {
                font: {
                    size: 40px;
                    weight: 600;
                    family: $logoTitle;
                }
                color: $red;
                text-align: center
            }

            .info {
                p {
                    padding: 7px 0;
                    position: relative;
                    max-width: 300px;

                    &::before {
                        content: "";
                        position: absolute;
                        width: 30px;
                        height: 1px;
                        left: -12%;
                        top: 18px;
                        background-color: $red;
                    }
                }
            }

            h3 {
                @include infoMain;
                text-align: center;
                color: $blue;
            }

            .btn {
                display: flex;
                justify-content: center;
                padding-bottom: 10px;
                padding-top: 10px;
            }
        }
    }
}

// == ENTRANCE-NEW == //

.entrance-new {
    .high-title-block {
        p {
            @include infoTitle;
            max-width: 930px;
            margin: 0 auto;
        }
    }

    .cards {
        display: flex;
        justify-content: $spaceBetween;

        .card {
            max-width: 600px;
            .head-info {
                display: flex;
                justify-content: space-between;
                background-color: $blue;
                color: $white;

                .item {
                    text-align: center;

                    h4 {
                        font: {
                            size: 30px;
                            family: $logoTitle;
                            weight: 600;
                        }
                        padding: 27px 0 10px 0;
                    }

                    p {
                        @include infoTitle;
                        max-width: 170px;
                        padding-bottom: 25px;
                    }
                }
            }
        }

        .down-info {
            padding: 17px 26px 5px 26px;
            border: 1px solid $blue;

            h3 {
                color: $blue;
                text-align: center;

                font: {
                    size: 20px;
                    family: $logoTitle;
                    weight: 600;
                }
            }

            .info {
                display: flex;

                p {
                    padding-top: 15px;
                }

                .dates {
                    padding-left: 10px;
                    @include infoMain;
                    font-size: 15px;
                    color: $red;
                }

                .info-dates {
                    padding-left: 10px;
                    @include infoTitle;
                }
            }
        }

        .card-consultations {
            display: flex;
            flex-direction: column;
            text-align: center;
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);

            .high-title {
                @include infoMain;
                color: $blue;
                padding-top: 40px;
            }

            .price {
                color: $red;
                @include infoMain;
                font-size: 40px;
                padding: 30px 0;
            }

            .default {
                padding: 0 50px 70px 80px;
            }
        }
    }
}

// == ABOUT == //

.about-us {
    .content {
        display: flex;
        justify-content: $spaceBetween;

        .info {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            max-height: 289px;
        }

        .main-info {
            max-width: 650px;
            .default {

                span {
                    @include infoMain;
                    color: $red;
                }
                @include infoTitle;
                font-size: 15px;
                padding-bottom: 10px;
            }
        }

        .sub-info {
            margin: 0 auto;
            max-width: 515px;
            @include infoTitle;
            font-size: 15px;
            
            span {
                @include infoMain;
                color: $blue;
            }
            text-align: center;
        }
    }
}

// == SKILLS == //

.skills {
    display: flex;
    justify-content: $spaceBetween;

    .item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;

        &.one {
            background: no-repeat url("img/ecl1.svg");
            background-position: left 50px top 0px;
        }
        &.two {
            background: no-repeat url("img/ecl2.svg");
            background-position: left 50px top 0px;
        }
        &.three {
            background: no-repeat url("img/ecl3.svg");
            background-position: left 50px top 0px;
        }
        &.four {
            background: no-repeat url("img/ecl4.svg");
            background-position: left 50px top 0px;
        }

        p {
            max-width: 300px;
            padding-top: 30px;
            margin: 0 auto;

            @include infoTitle;
        }
    }
}

// == TEAM == //

.team-project {
    .content {
        display: flex;
        align-items: center;
        justify-content: $spaceBetween;
        text-align: center;

        .item {
            min-width: 300px;

            img {
                border-radius: 30px;
            }
        }

        h3 {
            @include infoMain;
        }

        p {
            @include infoTitle;
        }
    }
}

// == CONTACTS == //

.contacts {
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .phone {
            display: flex;
            align-items: center;
            @include infoMain;
            a {
                color: $black;
            }

            img {
                padding-right: 12px;
            }
        }

        .mail {
            padding: 30px 0 30px 0;

            @include infoMain;
            a {
                color: $black;
            }
        }

        .social {
            display: flex;
            align-items: center;

            .facebook {
                padding-right: 20px;
            }
        }
    }
}

// == FOOTER == //

footer {
    background-color: $blue;
    padding-top: 0;
    
    nav {
        background-color: $blue !important;
    }
    
    &.mainSection {
        max-width: initial;
        margin-top: 40px;
    }
    button {
        background-color: $white !important;
        color: $blue !important;
    }

    span {
        color: $white !important;
    }

    nav {
        max-width: 1670px;
        margin: 0 auto;
    }

    p {
        color: $white;
    }
    a {
        color: $white !important;
    }

    .line {
        background-color: $white !important;
    }
}


// == CONTACT FORM == //

.contact-form {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    z-index: 2;
    text-align: center;
    align-items: center;
    justify-content: center;

    &.activeContact {
        display: flex !important;
        background: rgba(0, 0, 0, .8);
    }

    .contact-form-block {
        max-width: 840px;
        width: 100%;
        background-color: $white;
        z-index: 2;
        text-align: center;
        border-radius: 30px;
        padding: 20px;
        margin: auto auto;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2 {
            font: {
                weight: 400;
                size: 70px;
                family: $mainFont;
            }
            padding: 45px 0 30px 0;

            span {
                color: $red;
            }
        }

        .info-form {
            width: 70%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .contact-name {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 15px;

                input {
                    max-width: 420px;
                    width: 300px;

                    border-radius: 5px;
                    border: 1px solid $blue;
                    padding: 5px 0 5px 30px;

                    &::placeholder {
                        color: $blue;
                        font: {
                            family: $logoTitle;
                            size: 15px;
                            weight: 400;
                        }
                    }
                }

                p {
                    font: {
                        size: 15px;
                        weight: 400;
                        family: $logoTitle;
                    }
                }
            }
        }
        .btn-block {
            margin-top: 30px;

            button {
                padding: 12px 50px;
                background-color: $blue;
                color: $white;
                font: {
                    size: 15px;
                    weight: 500;
                    family: $logoTitle;
                }

                border: none;
                cursor: pointer;
                border-radius: 10px;
            }
        }
    }

}
